.bg-load{
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.loading{
  animation: loading 1s infinite;
  border: 6px solid #ddd;
  border-top-color: #835AFD;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@keyframes loading{
  to{
    transform: rotate(1turn);
  }
}